.app-mobile {
  /* text-align: center;
  height: '10px'; */

  background-image: url("assets/teamsGeneratorBackground.png");
  background-size: cover;
  background-position: center center;

/*  style={{ display: 'flex', 'flex-direction': 'row', 'align-items': 'flex-end', 'justifyContent': 'center'  }}*/
  /* width: 75%; */
}


.app-web {
  background-color: '#95edad';
  background-image: url("assets/teamsGeneratorBackground.png");
  background-size: auto;
  background-position: center center;
  display: flex;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
