:where(.css-dev-only-do-not-override-1vtf12y).ant-input-affix-wrapper {
    border-width: 1px;
    border-color: #095c1f;
}


:where(.css-dev-only-do-not-override-1vtf12y).ant-input-affix-wrapper {
    border-width: 1px;
    border-color: #095c1f;
}

:where(.css-dev-only-do-not-override-1vtf12y).ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
    border-width: 1px;
    border-color: #95edad;
}

.ant-input::placeholder {
    color: #095c1f89;
}

:where(.css-dev-only-do-not-override-1vtf12y).ant-input {
    color: #095c1f;
}


