.footer-page {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
  }

  html, body {
    min-height: 100vh;
    margin: 0;
    
  }

  header {
    position: sticky;
    z-index: 999;
  }

  main {
    position: relative;
  }

  .box {
    display: flex;
    flex-flow: column;
    height: 100%;
  }



  .box header.row {
    flex: 0 1 auto;
  }

  .box main.row {
    flex: 1 1 auto;
    margin: 4px;
  }

  .box footer.row {
    flex: 0 1 auto;
    margin-top: 4px;
  }